input.nodecoration {
	-moz-appearance: textfield;
}

input.nodecoration::-webkit-inner-spin-button {
	display: none;
}


.letters, .numbers {
	display: inline-block;
	background: #5566BB;
	margin: 20px;
	border: 0.5em solid #000000;
	padding: 0.5em;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.letters {
	float: right;
}

.numbers {
	float: left;
	width: 30em;
}

.numbers .input, .letters .frame {
	background: linear-gradient(to bottom right,rgba(255,255,255,0.2),rgba(255,255,255,0.0)) #44AAEE;
	padding: 0.5em;
	position: relative;
	margin: 0 0 0.25em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.numbers .input {
	padding-top: 5em;
}

.tile, .targetNumber {
	text-align: center;
	box-sizing: border-box;
	padding: 0.1em 0 0;
	border: none;
	background: #3344AA;
	color: #F8FFFF;
}

.tile {
	font: 1.6em 'helvetica narrow', 'arial narrow', sans-serif;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	border-radius: 2px;
	text-transform: uppercase;
	box-shadow:
		inset 0 0.15em 1px rgba(0, 0, 0, 0.8),
		inset 0 0.15em 0 0.08em #44AAEE,
		inset 0 -0.05em 0.2em 0.08em rgba(0, 0, 0, 0.2),
		0 -1px 1px rgba(0, 0, 0, 0.5),
		0 1px 1px rgba(255, 255, 255, 0.2);
}

.letters .tile {
	font: bolder 1.9em 'helvetica narrow', 'arial narrow', sans-serif;
	width: 1.8em;
	height: 1.8em;
	margin: 0 0.05em;
}

.tile:placeholder-shown {
	background: rgba(0, 0, 0, 0.02);
	box-shadow:
		inset 0 0.15em 1px rgba(0, 0, 0, 0.8),
		0 -1px 1px rgba(0, 0, 0, 0.5),
		0 1px 1px rgba(255, 255, 255, 0.2);
}

.numbers .targetNumber {
	font-weight: bolder;
	position: absolute;
	top: 0.2em;
	left: 50%;
	font-size: 2.5em;
	width: 4em;
	height: 1.5em;
	margin: 0 0 0 -2em;
	box-shadow:
		inset 0.02em 0.2em 2px rgba(0, 0, 0, 0.7),
		0 0 0 0.2em #336699,
		0 1px 1px 0.2em rgba(0, 0, 0, 0.6);
}

.numbers .targetNumber::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.numbers .calculate {
	font-size: 1em;
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	width: 1em;
	height: 1em;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	border: none;
	background: linear-gradient(to bottom, #EEEEEE, #808080);
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(0, 0, 0, 1);
	cursor: pointer;
}

.numbers .output {
	font: 1.2em chalkboard, 'comic sans ms', sans-serif;
	line-height: 1.5em;
	white-space: pre-wrap;
	height: 12em;
	overflow: auto;
	border: 0.2em solid #AABBBB;
	margin: 0;
	padding: 0.75em;
	background: center center / 0.75em 0.75em #FFFFFF;
	background-image:
		linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 1px);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.letters .vowel, .letters .consonant {
	font: bolder 1.4em 'helvetica narrow', 'arial narrow', sans-serif;
	display: inline-block;
	border: 4px solid #BBBBBB;
	margin: 0 0.5em;
	padding: 0;
	background: #AAAAAA;
	box-shadow:
		inset 3px 20px 1px #444444,
		0 1px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.letters .vowel:before, .letters .consonant:before {
	border: 0 solid #BBBBBB;
	border-width: 4px 2px;
	padding: 0.5em 0.7em;
	display: inline-block;
	background: #3344AA;
	color: #F8FFFF;
	margin: 1px 0 0;
	box-shadow:
		inset 1px 2px 5px rgba(0, 0, 0, 0.2),
		3px 0 1px #444444;
}

.letters .highlight:before {
	text-shadow: 0 0 12px #FFFFFF;
	background: #5566BB;
}

.letters .vowel:before {
	content: "VOWEL";
	margin-right: 4em;
}

.letters .consonant:before {
	content: "CONSONANT";
	margin-left: 4em;
}

.letters .vowel:after, .letters .consonant:after {
	content: "";
	position: absolute;
	display: block;
	width: 2.3em;
	height: 1.2em;
	background: #CCCCCC;
	border-radius: 1px;
	box-shadow:
		1px 2px 1px rgba(0, 0, 0, 0.4),
		2px 4px 2px rgba(0, 0, 0, 0.4);
	bottom: 0;
}

.letters .vowel:after {
	right: 1.6em;
}

.letters .consonant:after {
	left: 2px;
}

.letters .output {
	margin: 0.3em 0 1em;
}

.letters .output-all {
	margin-top: 0.5em;
	text-align: left;
	white-space: pre-wrap;
	font-family: monospace;
	color: #FFFFFF;
}
